# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases #
######################
*.log
*.sql
*.sqlite

# Directories #
###############
firmware/same54.X/build/
firmware/same54.X/dist/
firmware/same54.X/same54.zip
firmware/same54.X/nbproject/private/

# Other #
#########
firmware/same54.X/nbproject/Makefile-*
firmware/same54.X/nbproject/Package-*
firmware/same54.X/.generated_files/*

build/*